* {
  margin: 0px;
  padding: 0px;
}

.payment_list {
  width: 100px;
  margin-top: 12px;
  margin-left: 15px;
}

.payment_list img {
  width: 100px;
}

.list_name {
  margin: 0px;
  display: block;
  text-align: center;
}

.list_price {
  display: block;
  text-align: center;
}
