* {
  margin: 0px;
  padding: 0px;
}

.menu_container {
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #f1f3f5;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu_container img {
  width: 100%;
  height: 80%;
}

.menu_container span {
  display: block;
  text-align: center;
}

.menu_name {
  font-weight: bold;
  font-size: 20px;
}

.menu_price {
  font-weight: bold;
  font-size: 20px;
}
