* {
  margin: 0px;
  padding: 0px;
}

.menu {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app_payment {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  background-color: #e0e0e0;
}

.app_payment_list {
  position: relative;
  top: 8px;
  margin: 10px;
  width: 50%;
  height: 90%;
  background-color: white;
  border-radius: 20px;
  overflow-x: auto;
  display: flex;
}
